---
author:
  display_name: daemonspudguy
  email: jacob.a.tice@gmail.com
  first_name: Jacob
  last_name: Tice
  login: daemonspudguy
categories: []
date: "2015-08-21T09:00:52Z"
meta:
  _import_original_post_id: "21"
  _import_session_id: 5ea1cae7e1be8
  _jetpack_related_posts_cache: a:1:{s:32:"37550b67d263a3ce789993dc25046c5f";a:2:{s:7:"expires";i:1552744866;s:7:"payload";a:6:{i:0;a:1:{s:2:"id";i:80;}i:1;a:1:{s:2:"id";i:58;}i:2;a:1:{s:2:"id";i:61;}i:3;a:1:{s:2:"id";i:65;}i:4;a:1:{s:2:"id";i:152;}i:5;a:1:{s:2:"id";i:12;}}}}
  _publicize_pending: "1"
parent_id: "0"
password: ""
published: true
status: publish
tags: []
title: ""
type: post
url: /2015/08/21/21/
---
<p>I have A NEw Mic. I am testing it in this video</p>
<p>[embedyt]http://www.youtube.com/watch?v=dAuHPg2vdmQ[/embedyt]</p>
