---
author:
  display_name: daemonspudguy
  email: jacob.a.tice@gmail.com
  first_name: Jacob
  last_name: Tice
  login: daemonspudguy
categories: []
date: "2016-09-03T16:30:21Z"
meta:
  _import_original_post_id: "61"
  _import_session_id: 5ea1cae7e1be8
  _jetpack_related_posts_cache: a:1:{s:32:"37550b67d263a3ce789993dc25046c5f";a:2:{s:7:"expires";i:1552744865;s:7:"payload";a:6:{i:0;a:1:{s:2:"id";i:65;}i:1;a:1:{s:2:"id";i:152;}i:2;a:1:{s:2:"id";i:75;}i:3;a:1:{s:2:"id";i:12;}i:4;a:1:{s:2:"id";i:105;}i:5;a:1:{s:2:"id";i:21;}}}}
  _publicize_pending: "1"
  cwp_meta_box_check: "No"
parent_id: "0"
password: ""
published: true
status: publish
tags: []
title: My new album
type: post
url: /2016/09/03/my-new-album/
---
<p>I am formally announcing my album <a href="https://soundcloud.com/jacob-alexander-tice/sets/zombie">My album info. (still a work in progress)</a></p>
