---
author:
  display_name: daemonspudguy
  email: jacob.a.tice@gmail.com
  first_name: Jacob
  last_name: Tice
  login: daemonspudguy
categories: []
date: "2016-11-10T20:35:24Z"
meta:
  _import_original_post_id: "65"
  _import_session_id: 5ea1cae7e1be8
  _jetpack_related_posts_cache: a:1:{s:32:"37550b67d263a3ce789993dc25046c5f";a:2:{s:7:"expires";i:1552744865;s:7:"payload";a:6:{i:0;a:1:{s:2:"id";i:61;}i:1;a:1:{s:2:"id";i:21;}i:2;a:1:{s:2:"id";i:152;}i:3;a:1:{s:2:"id";i:75;}i:4;a:1:{s:2:"id";i:12;}i:5;a:1:{s:2:"id";i:105;}}}}
  _publicize_pending: "1"
  cwp_meta_box_check: "No"
parent_id: "0"
password: ""
published: true
status: publish
tags: []
title: Not dead
type: post
url: /2016/11/10/not-dead/
---
<p>I am not dead. In fact, my album is now released. <a href="https://soundcloud.com/jacob-alexander-tice/sets/zombie">Enjoy</a></p>
