---
author:
  display_name: daemonspudguy
  email: jacob.a.tice@gmail.com
  first_name: Jacob
  last_name: Tice
  login: daemonspudguy
categories: []
date: "2018-02-02T20:23:24Z"
meta:
  _import_original_post_id: "105"
  _import_session_id: 5ea1cae7e1be8
  _jetpack_related_posts_cache: a:1:{s:32:"37550b67d263a3ce789993dc25046c5f";a:2:{s:7:"expires";i:1552744864;s:7:"payload";a:5:{i:0;a:1:{s:2:"id";i:75;}i:1;a:1:{s:2:"id";i:152;}i:2;a:1:{s:2:"id";i:61;}i:3;a:1:{s:2:"id";i:12;}i:4;a:1:{s:2:"id";i:65;}}}}
  _publicize_pending: "1"
  cwp_meta_box_check: "No"
parent_id: "0"
password: ""
published: true
status: publish
tags: []
title: My Magnum Opus is finished!
type: post
url: /2018/02/02/my-magnum-opus-is-finished/
---
<p>My book, 50,000 Meatloaves, is completed. Download the PDF file <a href="http://www.mediafire.com/file/buakjfb1udafixr/50%2C000%20Meatloaves.pdf">here</a></p>
