---
author:
  display_name: daemonspudguy
  email: jacob.a.tice@gmail.com
  first_name: Jacob
  last_name: Tice
  login: daemonspudguy
categories:
- Blog
- New Year
date: "2018-01-04T19:18:12Z"
meta:
  _advads_ad_settings: a:1:{s:11:"disable_ads";i:0;}
  _import_original_post_id: "80"
  _import_session_id: 5ea1cae7e1be8
  _jetpack_related_posts_cache: a:1:{s:32:"37550b67d263a3ce789993dc25046c5f";a:2:{s:7:"expires";i:1552744865;s:7:"payload";a:6:{i:0;a:1:{s:2:"id";i:21;}i:1;a:1:{s:2:"id";i:61;}i:2;a:1:{s:2:"id";i:152;}i:3;a:1:{s:2:"id";i:65;}i:4;a:1:{s:2:"id";i:4;}i:5;a:1:{s:2:"id";i:58;}}}}
  _publicize_pending: "1"
  classic-editor-remember: block-editor
  cwp_meta_box_check: "No"
parent_id: "0"
password: ""
published: true
status: publish
tags: []
title: Happy Same Year 2018!
type: post
url: /2018/01/04/happy-same-year-2018/
---
<h1>Happy New Year!</h1>
<h1></h1>
<h1></h1>
<p>[youtube]https://www.youtube.com/watch?v=LoLPT3SDosU[/youtube]<br />
It's 2018, and I'm the only one who is not excited since I know it will end up with the same mistakes as 2017. First of all, the President of the United States of the Asshats, Donald Trump, is still going to be president until 2021, unless he wins again in 2020 which will make the end be 2025. Next, the Internet will get even more neutered since net neutrality is no longer existing in this country. I will say one positive thing though. I will get a new phone on December 18th! That is it for this post.</p>
