---
author:
  display_name: daemonspudguy
  email: jacob.a.tice@gmail.com
  first_name: Jacob
  last_name: Tice
  login: daemonspudguy
categories:
- New Year
date: "2019-07-27T19:40:45Z"
meta:
  _edit_last: "65059428"
  _import_original_post_id: "240"
  _import_session_id: 5ea1cae7e1be8
  _publicize_pending: "1"
  classic-editor-remember: block-editor
parent_id: "0"
password: ""
published: true
status: publish
tags: []
title: Mid-Year Thoughts!
type: post
url: /2019/07/27/mid-year-thoughts/
---
<p><!-- wp:paragraph --></p>
<p>So far, this year has been a mixed bag. My YouTube channel lost comments, <a href="https://www.youtube.com/watch?v=dV4jttBVmGE">which you can learn about here</a>, my school year went unfinished, I only got to be at my Dad's place for a week (my dad hosts this site, in case you were wondering), and my legal guardians were in Italy for 2 weeks. On the plus side, my Twitter account was reinstated, I got an old computer from the school I go to, and I will be going to Ontario in August. I will talk about my thoughts on the year overall in January of 2020!</p>
<p><!-- /wp:paragraph --></p>
