---
author:
  display_name: daemonspudguy
  email: jacob.a.tice@gmail.com
  first_name: Jacob
  last_name: Tice
  login: daemonspudguy
categories: []
date: "2019-02-04T10:30:31Z"
meta:
  _import_original_post_id: "152"
  _import_session_id: 5ea1cae7e1be8
  _jetpack_related_posts_cache: a:1:{s:32:"37550b67d263a3ce789993dc25046c5f";a:2:{s:7:"expires";i:1552744864;s:7:"payload";a:6:{i:0;a:1:{s:2:"id";i:61;}i:1;a:1:{s:2:"id";i:75;}i:2;a:1:{s:2:"id";i:105;}i:3;a:1:{s:2:"id";i:65;}i:4;a:1:{s:2:"id";i:21;}i:5;a:1:{s:2:"id";i:80;}}}}
  _publicize_pending: "1"
  classic-editor-remember: block-editor
parent_id: "0"
password: ""
published: true
status: publish
tags: []
title: Twitter Account Banned
type: post
url: /2019/02/04/twitter-account-banned/
---
<p>My old twitter account was banned, but I updated the redirect link. <a href="https://jacobatice.com/twitter/" target="_blank" rel="noopener noreferrer">New account here</a></p>
<p> </p>
<p> </p>
<p><!-- wp:paragraph --></p>
<p>EDIT: Since this post has been up, I have gotten it back. The link is the same.</p>
<p><!-- /wp:paragraph --></p>
