---
author:
  display_name: daemonspudguy
  email: jacob.a.tice@gmail.com
  first_name: Jacob
  last_name: Tice
  login: daemonspudguy
categories:
- Ads
date: "2019-07-23T17:17:21Z"
meta:
  _advads_ad_settings: a:1:{s:11:"disable_ads";i:1;}
  _import_original_post_id: "200"
  _import_session_id: 5ea1cae7e1be8
  _publicize_pending: "1"
  classic-editor-remember: block-editor
  cwp_meta_box_check: "No"
parent_id: "0"
password: ""
published: true
status: publish
tags: []
title: Obligatory Reminder to Subscribe to Me On YouTube
type: post
url: /2019/07/23/obligatory-reminder-to-subscribe-to-me-on-youtube/
---
<p><!-- wp:paragraph --></p>
<p>I need your help on YouTube. Subscribe to me <a href="http://youtube.com/user/mrjacobatice">here</a>. </p>
<p><!-- /wp:paragraph --></p>
