---
author:
  display_name: daemonspudguy
  email: jacob.a.tice@gmail.com
  first_name: Jacob
  last_name: Tice
  login: daemonspudguy
categories: []
date: "2020-01-01T17:57:58Z"
meta:
  _import_original_post_id: "317"
  _import_session_id: 5ea1cae7e1be8
  _publicize_pending: "1"
  _wp_old_date: "2019-12-17"
  classic-editor-remember: block-editor
parent_id: "0"
password: ""
published: true
status: publish
tags: []
title: Free Assange!
type: post
url: /2020/01/01/free-assange/
---
<p><!-- wp:paragraph --></p>
<p>In case you didn't know, Julian Assange has been imprisoned in London for allegedly violating his bail terms. This was just after Ecuador decided to remove his asylum status. He was arrested under orders from US, because WikiLeaks has information about CIA Project Vault 7, a mass surveillance program. Assange is being charged for hosting content documenting the illegal actions being performed on unaware citizens. How about you arrest the heads of the CIA?</p>
<p><!-- /wp:paragraph --></p>
