---
author:
  display_name: daemonspudguy
  email: jacob.a.tice@gmail.com
  first_name: Jacob
  last_name: Tice
  login: daemonspudguy
categories: []
date: "2020-01-24T08:06:53Z"
meta:
  _import_original_post_id: "330"
  _import_session_id: 5ea1cae7e1be8
  _publicize_pending: "1"
parent_id: "0"
password: ""
published: true
status: publish
tags: []
title: ""
type: post
url: /2020/01/24/330/
---
<p>So I just did a political compass test available at politicalcompass.org and here are my results. They're about what I expected.</p>
<p>&nbsp;</p>
<p><img class="alignnone size-full wp-image-332" src="{{ site.baseurl }}/assets/98fc2-chart-1.png" alt="chart.png" width="480" height="400" /></p>
<p>&nbsp;</p>
