---
author:
  display_name: daemonspudguy
  email: jacob.a.tice@gmail.com
  first_name: Jacob
  last_name: Tice
  login: daemonspudguy
categories: []
date: "2020-01-01T18:05:57Z"
meta:
  _import_original_post_id: "320"
  _import_session_id: 5ea1cae7e1be8
  _publicize_pending: "1"
parent_id: "0"
password: ""
published: true
status: publish
tags: []
title: End of 2019 Thoughts
type: post
url: /2020/01/01/end-of-2019-thoughts/
---
<p><!-- wp:paragraph --></p>
<p>I am writing this post mainly to vent about personal things that happened in 2019. 2019 was fucking dreadful as a year. I was in a constant state of depression and misery. It was barely better than 2018, the worst year of my life. 2019 was the year I had to waste my summer completing schoolwork that I got no help on, hence why I did it in summer. You see, at the end of 2018 Fort Frye made the decision to dump me into an online program called K12. K12 was literally the worst rated online schooling provider. But I ranted about it enough back in July. This is also the year in which I was sicker than usual. No one's sure why, it just was. Half of November I could barely breathe. I also had more med changes this year, because of course I did. All in all, I hated this year.</p>
<p><!-- /wp:paragraph --></p>
